.messagesChat {
    height: 500px;
    overflow-y: auto;
}

.messageBlock {
    display: grid;
    grid-template-areas: 'avatar name' 'avatar message';
    grid-gap: 10px;
    grid-template-columns: 60px auto;
    grid-template-rows: 10px auto;
    margin: 20px 5px;
}

.avatar {
grid-area: avatar;
    height: 60px;
    border-radius: 50%;
    border: #0e2121 solid 1px;
}

.message {
    display: inline-block;
    width: max-content;
    padding: 2px 10px;
    grid-area: message;
    background-color: azure;
    border-radius: 0 10px 10px 10px;
    border: #0e2121 solid 2px;
    color: #0e2121;
    align-content: center;
    text-align: center;
    height: min-content;
}

.name {
grid-area: name;
    text-decoration: none;
    color: rgba(169, 169, 169, 0.84);
}

.chatForm {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "input button";
    grid-template-columns: minmax(400px, min-content) 100px;
}

.chatInput {
    grid-area: input;
    border-radius: 5px;
    width: 100%;
    overflow-y: auto;
}

.buttonSend {
    grid-area: button;
    border-radius: 5px;
    border: black 1px solid;
    background-color: azure;
    color: black;
    padding: 10px;
}

.buttonSend:hover{
    background-color: #530000;
    color: azure;
}
.buttonSend:active{
    background-color: #a9a9a9;
    color: #530000;
}

.buttonSendDisabled {
    grid-area: button;
    background-color: rgba(84, 84, 84, 0.24);
    color: #a9a9a9;
    border: #545454;
}
