.messagesChat {
    height: 500px;
    overflow-y: auto;
}

.messageBlock {
    display: grid;
    grid-template-areas: 'avatar name' 'avatar message';
    grid-gap: 10px;
    grid-template-columns: 60px auto;
    grid-template-rows: 10px auto;
    margin: 10px 5px;
}

.avatar {
grid-area: avatar;
    height: 60px;
    border-radius: 50%;
    border: #0e2121 solid 1px;
}

.message {
    display: inline-block;
    width: max-content;
    padding: 2px 10px;
    grid-area: message;
    background-color: azure;
    border-radius: 0 10px 10px 10px;
    border: #0e2121 solid 2px;
    color: #0e2121;
}

.name {
grid-area: name;

}