.profileClass {
    display: grid;
    grid-template-columns: 1fr;
}




.topImg {
    height: 300px;
    border-radius: 5px;
}

.topImgDiv {
  height: 10%;
}

.avatarImg {
    height: 250px;
    width: 250px;
    border-radius: 5%;
    border: 5px black;
}