.activePage {
    display: inline-block;
    width: auto;
    box-shadow: black;
    border: black solid 1px;
    border-radius: 5px;
    margin: auto 10px;
    padding: 10px;
    background-color: rgb(104, 6, 6);
}

.paginator {
    text-align: center;
    margin: 0 auto;
}

.pageNumber {
    display: inline-block;
    width: auto;
    box-shadow: black;
    border: black solid 1px;
    border-radius: 5px;
    margin: auto 10px;
    padding: 10px;
    background-color: rgb(240, 255, 255);
    color: black;
}

.pageNumber:hover {
    background-color: rgb(0, 139, 147);
}

.pageNumber:active {
    background-color: rgb(0, 0, 0);
}
