.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.activePage {
    height: 110%;
    width: 110%;
    color: darkgoldenrod;
}

.paginatorStile {
    width: 50%;
    text-align: center;
}