.createText {
    padding: 10px;
    grid-area: textarea;
    width: 80%;
    background-color: azure;
    color: #0e2121;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 5%;
}

.buttonAddPost {
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 10px;
    height: 100%;
    padding: 10px;
    grid-area: button;
    background-color: rgb(95, 0, 0);
    color: azure;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.6);
}

.addpost {
    margin: 0 auto;
    display: grid;
    grid-template-area: 'textarea x button x';
    grid-template-columns: 20fr 10fr 3fr 3fr;
}