.createText {
    width: 50%;
    background: linear-gradient(to bottom right, rgba(226, 184, 184, 0.59), rgba(214, 254, 255, 0.53), rgba(130, 248, 77, 0.32));
    color: azure;
    border-radius: 5px;
    overflow: hidden;
}

.buttonAddPost {
    background-color: rgba(0, 0, 0, 0.41);
    color: azure;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.6);
}