.createText {
    padding: 10px;
    grid-area: textarea;
    width: 50%;
    background: linear-gradient(to bottom right, rgba(255, 241, 241, 0.59), rgba(255, 255, 255, 0.65), rgba(218, 255, 210, 0.54));
    color: #0e2121;
    border-radius: 5px;
    overflow: hidden;
}

.buttonAddPost {
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 10px;
    height: 100%;
    padding: 10px;
    grid-area: button;
    background-color: rgba(0, 0, 0, 0.41);
    color: azure;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.6);
}

.addpost {
    display: grid;
    grid-template-area: 'textarea x button x';
    grid-template-columns: 20fr 10fr 3fr 3fr;
}