.activeNav {
    display: block;
    color: #151515;
    text-decoration: none;
    background-color: #D0D3D4;
    width: max-content;
    text-align: center;
    margin: auto;
    padding: 10px;
}
.itemNav {
    border-radius: 5px;
    display: block;
    color: #D0D3D4;
    text-decoration: none;
    background-color: #151515;
    width: auto;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.itemNav:hover {
    background-color: rgba(208, 211, 212, 0.05);
}


/*
@media (min-width: 1000px) {
    .nav {
        grid-area: nav;
        margin: 0 5%;
    }

    .item {
        align-items: center;
    }

    .itemnav {
        display: block;
        color: black;
        text-decoration: none;
        background-color: azure;
        border: #0e2121 solid 1px;
        border-radius: 5px;
        padding: 10px 0 10px 0;
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .itemnav:hover {
        background-color: #a9a9a9;
    }

    .following {
        color: black;
        text-decoration: none;
        padding: 5px 0 10px 0px;
    }

    .active {
        display: block;
        color: azure;
        text-shadow: #0e2121;
        text-decoration: none;
        background-color: rgb(95, 0, 0);
        border: #0e2121 solid 1px;
        border-radius: 5px;
        padding: 10px 0 10px 0;
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .iconItem {
        display: none;
    }
}

@media (max-width: 999px) {

    .nav {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .itemnav {
        display: block;
        color: black;
        text-decoration: none;
        background-color: azure;
        border: #0e2121 solid 1px;
        border-radius: 5px;
        padding: 10px 0;
        width: 98%;
        margin: auto;
        text-align: center;
    }

    .following {
        display: none;
    }

    .item {
        align-items: center;
        padding: 0 20px;
    }

    .active {
        display: block;
        color: azure;
        text-shadow: #0e2121;
        text-decoration: none;
        background-color: rgb(95, 0, 0);
        border: #0e2121 solid 1px;
        border-radius: 5px;
        padding: 10px 0;
        width: 98%;
        margin: auto;
        text-align: center;
    }

    .iconItem {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    .nav {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .itemnav {
        display: block;
        color: black;
        text-decoration: none;
        background-color: azure;
        border: #0e2121 solid 1px;
        border-radius: 5px;
        padding: 5px 0;
        width: 95%;
        margin: auto;
        text-align: center;
    }

    .following {
        display: none;
    }

    .item {
        display: none;
    }

    .active {
        display: block;
        color: azure;
        text-shadow: #0e2121;
        text-decoration: none;
        background-color: rgb(95, 0, 0);
        border: #0e2121 solid 1px;
        border-radius: 5px;
        padding: 5px 0;
        width: 98%;
        margin: auto;
        text-align: center;
    }

    .iconItem {
        align-content: center;
        display: block;
        width: 30px;
        height: 30px;
        margin: auto;
    }
}

*/
