@media (min-width: 1000px) {
    .nav {
        grid-area: nav;
        margin: 0 5%;
    }

    .item {
        align-items: center;
    }

    .itemnav {
        display: block;
        color: black;
        text-decoration: none;
        background-color: azure;
        border: #0e2121 solid 1px;
        border-radius: 5px;
        padding: 10px 0 10px 0;
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .itemnav:hover {
        background-color: #a9a9a9;
    }

    .following {
        color: black;
        text-decoration: none;
        padding: 5px 0 10px 0px;
    }

    .active {
        display: block;
        color: rgb(0, 0, 0);
        text-decoration: none;
        background-color: rgb(84, 84, 84);
        border: #0e2121 solid 1px;
        border-radius: 5px;
        padding: 10px 0 10px 0;
        width: 90%;
        text-align: center;
        margin: auto;
    }

    .iconItem {
        display: none;
    }
}

@media (max-width: 999px) {

    .nav {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .itemnav {
        display: block;
        color: black;
        text-decoration: none;
        background-color: azure;
        border: #0e2121 solid 1px;
        border-radius: 5px;
        padding: 10px 0;
        width: 98%;
        margin: auto;
        text-align: center;
    }

    .following {
        display: none;
    }

    .item {
        align-items: center;
        padding: 0 20px;
    }

    .active {
        display: block;
        color: rgb(0, 0, 0);
        text-decoration: none;
        background-color: rgb(84, 84, 84);
        border: #0e2121 solid 1px;
        border-radius: 5px;
        padding: 10px 0;
        width: 98%;
        margin: auto;
        text-align: center;
    }

    .iconItem {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    .nav {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .itemnav {
        display: block;
        color: black;
        text-decoration: none;
        background-color: azure;
        border: #0e2121 solid 1px;
        border-radius: 5px;
        padding: 5px 0;
        width: 95%;
        margin: auto;
        text-align: center;
    }

    .following {
        display: none;
    }

    .item {
        display: none;
    }

    .active {
        display: block;
        color: rgb(0, 0, 0);
        text-decoration: none;
        background-color: rgb(84, 84, 84);
        border: #0e2121 solid 1px;
        border-radius: 5px;
        padding: 5px 0;
        width: 98%;
        margin: auto;
        text-align: center;
    }

    .iconItem {
        align-content: center;
        display: block;
        width: 30px;
        height: 30px;
        margin: auto;
    }
}

