.nav {
    grid-area: nav;
    margin-left: 0;
    background-color: rgb(92, 92, 92);
    filter: opacity(80%);
    border-radius: 25px;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item {
      color: white;
      left: 20px;
      filter: opacity(100%);
      margin: 20px;
      z-index: 2;
      background: black;
      border-radius: 5px;
      border: solid 1px white;
      padding: 5px 0 5px 0;
      width: 90%;
      position: center;
  }