.friends {
    display: grid;
    background: linear-gradient(to bottom right, rgba(29, 29, 29, 0.59), rgba(68, 94, 95, 0.53), rgba(18, 49, 7, 0.32));
    border-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0.29);
    margin: 5%;
    text-align: center;
    padding-bottom: 10%;
}

.h4 {
    text-align: center;
    margin: 10px;
}

.iconFriend {
    grid-area: i;
    width: 60%;
    height: auto;
    border-radius: 50%;
}

.friendsList {
 display: grid;
    grid-template-areas:
            "i" "i" "i"
            "i" "i" "i"
            "i" "i" "i";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
   width: auto;
    column-gap: 5%;
    row-gap: 5%;
    text-decoration: none;
}

.name {
    width: min-content;
    text-decoration: none;
    color: azure;
}

.friend {
    width: 60%;
    background-color: violet;
}