.friends {
    display: grid;
    border-radius: 5px;
    border: solid 1px rgb(0, 0, 0);
    margin: 1% auto;
    text-align: center;
    padding-bottom: 10%;
    background-color: azure;
    width: 90%;
}

.h4 {
    text-align: center;
    margin: 10px;
}

.iconFriend {
    grid-area: i;
    width: 60%;
    height: auto;
    border-radius: 50%;
    border: #0e2121 solid 2px;
}

.friendsList {
 display: grid;
    grid-template-areas:
            "i" "i" "i"
            "i" "i" "i"
            "i" "i" "i";
    grid-template-columns: 1fr 1fr 1fr;
   width: auto;
    column-gap: 5%;
    row-gap: 5%;
    text-decoration: none;
    height: min-content;
}

.name {
    width: min-content;
    text-decoration: none;
    color: azure;
}

.friend {
    width: 60%;
    background-color: violet;
}