.post {
    display: grid;
    grid-template-areas:
"img message ."
"img message like";
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: 1fr 1fr;
    color: azure;
    margin: 0 auto auto auto;
    grid-gap: 10px;
}

.img {
    grid-area: img;
    /*    grid-column: span 1;*/
    height: 50px;
    border-radius: 50%;
    margin-left: 50px;
}

.messageBlock {
    display: inline-block;
    grid-area: message;
    width: max-content;
    color: black;
    margin-top: 25px;
    margin-left: 1%;
}

.message {
    color: black;
    background-color: azure;
    border-radius: 0 10px 10px 10px;
    border: solid 2px black;
    padding: 10px;
}

.like {
    grid-area: like;
    width: max-content;
    margin-left: 0;
}

.likeActive {
    grid-area: like;
    color: rgba(225, 85, 85, 0.73);
    width: max-content;
    margin-left: 0;
}

.likeIcon {
    height: 20px;
}