.post {
    display: grid;
    grid-template-areas:
"img message"
"img message";
    grid-template-columns: 100px minmax(min-content, 400px);
    grid-template-rows: 1fr 1fr;
    color: azure;
    grid-gap: 10px;
    margin: 0 0 15px 0;
}

.img {
    grid-area: img;
    /*    grid-column: span 1;*/
    height: 50px;
    border-radius: 50%;
    margin-left: 50px;
}

.messageBlock {
    display: inline-block;
    grid-area: message;
    color: black;
    margin-top: 15px;
    margin-left: 1%;
}

.message {
    display: inline-block;
    color: black;
    background-color: azure;
    border-radius: 0 10px 10px 10px;
    border: solid 2px black;
    padding: 10px;
}

.like {
    grid-area: like;
    width: max-content;
    margin-left: 0;
    color: azure;
}

.likeActive {
    grid-area: like;
    color: rgba(225, 85, 85, 0.73);
    width: max-content;
    margin-left: 0;
}

.likeIcon {
    height: 20px;
}