.app-wrapper {
    margin: auto;
    display: grid;
    grid-template-areas:
            "header"
            "bodySide";
    grid-template-rows: 50px auto;
    grid-gap: 1%;
    font-family: Comic Sans;
    color: azure;
    height: 95%;
    width: 100%;
}

.bodySide {
    grid-area: bodySide;
    display: grid;
    grid-template-areas: "navbar content";
    grid-template-columns: minmax(200px, 400px) 1fr;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: content;
    margin-right: auto;
    margin-left: 0;
}

.navbar {
    grid-area: navbar;
    margin-right: 0;
    margin-left: auto;
    width: auto;
}